.bg {
  background-color: #333;
  overflow: hidden;
  top: 0%;
  width: 100%;
}

.topnav {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.topnav:hover {
  background-color: #ddd;
  color: black;
  border: solid #333;
  border-radius: 10px;
  border: 0px;
}
.active {
  background-color: #68be65;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.dropdown {
  position: relative;
  float: right;
}

.er {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.er:hover {
  color: #10b9b1;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #333;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  border-radius: 20px;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.dropdown:hover .dropdown-content {
  display: block;
}
#ew {
  margin-right: 2px;
}

.pic {
  float: right;
  height: 48px;
  margin-left: 16px;
  margin-right: 16px;
  width: 110px;
  cursor: pointer;
  opacity: 1;
  transition: 0.4s;
  margin-top: 4px;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.pic:hover {
  opacity: 0.7;
}
@keyframes popup {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body {
  margin: 0px;
  background-color: #ddd;
}
ul {
  direction: rtl;
}

.c1 {
  background-color: #3067a9;
  float: left;
  border-radius: 50px;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
}

.c2 {
  background-color: #10b9b1;
  color: #f2f2f2;
  float: left;
  border-radius: 50px;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  opacity: 1;
}

.c3 {
  background-color:#778ca3;
  float: left;
  text-align: center;
  color: #f2f2f2;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border-radius: 50px;
  opacity: 1;
}
.c1:hover {
  opacity: 0.8;
}
.c2:hover {
  opacity: 0.8;
}
.c3:hover {
  opacity: 0.8;
}

* {box-sizing:border-box}


*,
*:before,
*:after {
  box-sizing: border-box;
}

#main {
  width:300px;
  margin: 40px auto;
  font-family: "Segoe UI", sans-serif;
  padding: 25px 28px;
  background: white;
  border-radius: 20px;
  border: 1px solid #333;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes popup {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #333;
}
.wee {
  display: block;
  margin-bottom: 20px;
  direction: rtl;
}
label {
  text-align: right;
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
  direction: rtl;
}
.wee input {
  padding: 10px 8px;
  width: 93%;
  font-size: 16px;
  background: #f2f2f2;
  border: none;
  color: black;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
  direction: rtl;
}
::placeholder {
  text-align: right;
  direction: rtl;
}
.wee input:hover {
  background: #ddd;
}
.wee input:focus {
  box-shadow: 0px 0px 0px 1px #68be65;
}
button {
  padding: 10px 18px;
  font-size: 15px;
  background: #68be65;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #f4f4f4;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
button:hover {
  opacity: 0.9;
}
button:focus {
  box-shadow: 0px 0px 0px 3px #68be65;
}
.ee {
  border: 1px solid #68be65;
  margin-bottom: 30px;
}
.forgt {
  text-decoration: none;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  
}
.forgt:hover {
  color: blue;
  text-decoration: underline;
}
ul {
  direction: rtl;
}

.wq {
  float: left;
}
.ul{
  color: #ddd;
}
.fa {
  padding: 18px 20px;
  border-radius: 50%;
  text-decoration: none;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  height: 20px;
margin-top: -2px;
transition: 0.4s;
}
.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  color: white;
  margin-right:30px;
}


.fa-twitter {
  color: white;
  margin-right: 30px;
}

.fa-instagram {
  color: white;
  margin-right: 30px;
}


.fa-youtube {
  color: white;
}


.cen{
  text-align: center;
}





footer{
  background-color: #333;
  height: 100px;
  width: auto;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
padding: 40px 40px 0px 50px;
  color: white;
  text-decoration: none;
  margin-top: 57px;
}
.cvd{
  color: white;
  text-align: center;
  margin-top: -40px;
}
.sds{
  color:white;
  margin-top: -0px;
  margin-left: 50px;
}
.sds:hover{
  color: #10b9b1;
}
